[ubifs]
mode=ubi
image=BR2_ROOTFS_UBIFS_PATH
vol_id=0
vol_type=dynamic
vol_name=rootfs
# Keep a few PEBs free so UBI can reserve full bad-block handling pool.
# 1856 LEBs * 126976 bytes/LEB = 235667456 bytes.
vol_size=235667456
